/* Top black area */
.topblack {
  height: 35px;
  padding: 0 20px;
  box-sizing: border-box;

  background: #343434;
  background: -webkit-linear-gradient(#343434, #2c2c2c, #040404);
  background: -o-linear-gradient(#343434, #2c2c2c, #040404);
  background: -moz-linear-gradient(#343434, #2c2c2c, #040404);
  background: linear-gradient(#343434, #2c2c2c, #040404);


  border-bottom: 1px solid #313131;
  color: #fff;
}

.topblack p,
.topblack ul {
  margin: 0;
  line-height: 35px;
}

.topblack a,
.topblack a:hover,
.topblack a:active {
  color: #fff;
}

.topblack .block {
  display: inline-block;
  float: right;
}

.topblack .block:first-child {
  float: left;
}

#block-menu-menu-top-menu {
  margin: 0 10px 0 0;
}

.topblack .menu li {
  list-style: none;
  display: inline-block;
  float: left;
  margin: 0 5px;
}

.topblack .menu li a {
  display: block;
  padding: 0 5px;
}

.topblack .expanded {
  position: relative;
  padding: 0 12px 0 0;
}

.topblack .expanded:after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  content: '\e804';
  color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  font-size: 16px;
  transform: translateY(-50%);
}

.expanded .menu {
  z-index: 1;
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  padding: 0;
}

.expanded .menu li {
  display: block;
  float: none;
  background: #343434;
  border-bottom: 1px solid #313131;
}

.expanded .menu li:hover {
  background: #131313;
  transition: all $transition-time;
}

.search_form {
  display: table;
}

.search_form > div {
  display: table-cell;
  vertical-align: middle;
}

.form-item-search-block-form {
  position: relative;
  width: 180px;
}

.form-item-search-block-form label {
  position: absolute;
}

.form-item-search-block-form input {
  width: 100%;
  height: 20px;
  padding: 0 5px 0 20px;
  box-sizing: border-box;
  border: 1px solid #1b1b1b;
  border-radius: 0;
}

.form-item-search-block-form:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  content: '\e800';
  color: #4c9cd5;
  position: absolute;
  top: 50%;
  left: 5px;
  z-index: 1;
  font-size: 14px;
  transform: translateY(-50%);
}

.search_form .form-submit {
    width: 30px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: #0b0b0b;
    border: 1px solid #1b1b1b;
    border-radius: 0;
    font-size: 0.85em;
    text-align: center;
}
.search_form .form-submit:hover {
  background: #343434;
  color: #fff;
}