/* Top blue logo area */
.topblue {
  height: 80px;
  vertical-align: middle;
  position: relative;
  background: #54a9e2;
  background: -webkit-linear-gradient(#54a9e2, #235694);
  background: -o-linear-gradient(#54a9e2, #235694);
  background: -moz-linear-gradient(#54a9e2, #235694);
  background: linear-gradient(#54a9e2, #235694);
}

.logo {
  margin: 0 0 0 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}